<a href="https://colab.research.google.com/github/TsundereGus/ibd/blob/master/ibd-project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Trabalho Prático 1

In [ ]:
import io
import sqlite3
import pandas as pd

In [ ]:
!wget --quiet -P /tmp/ https://raw.githubusercontent.com/TsundereGus/ibd/master/despesas.sql

In [ ]:
conn = sqlite3.connect('/tmp/consult.db')
cursor = conn.cursor()

f = io.open('/tmp/despesas.sql', 'r', encoding='utf-8')
sql = f.read()
cursor.executescript(sql)

##Questões da Seção 4.1 a serem resolvidas

2. Liste o valor total de despesas públicas por função (nome) e subfunção (nome), apenas
nos casos em que esse valor total excedeu 200 mil reais.

In [ ]:
query = """
SELECT NOME_FUNCAO, NOME_SUBFUNCAO FROM FUNCAO AS F, SUBFUNCAO AS S WHERE F.COD_FUNCAO IN 
(SELECT DET.COD_FUNCAO FROM DETALHAMENTO_FUNCAO AS DET WHERE F.COD_FUNCAO = DET.COD_FUNCAO AND S.COD_SUBFUNCAO = DET.COD_SUBFUNCAO AND DET.COD_DETALHAMENTO IN 
(SELECT DESP.COD_DETALHAMENTO FROM DESPESA_PUBLICA AS DESP WHERE DET.COD_DETALHAMENTO = DESP.COD_DETALHAMENTO AND DESP.VALOR_DESPESA > 200000))
"""

df = pd.read_sql_query(query, conn)
df

          NOME_FUNCAO           NOME_SUBFUNCAO
0  Assistência social  Assistência comunitária
1            Educação          Educação básica

3. Liste todos os nomes dos órgaos e o valor das despesas totais no ano de 2018 para os mesmos, ordenando de forma decrescente pelo valor.

In [67]:
query = """
SELECT O.NOME_ORGAO, SUM(DESP.VALOR_DESPESA) AS DESPESAS_2018 FROM ORGAO AS O, DESPESA_PUBLICA AS DESP WHERE O.COD_ORGAO IN
(SELECT DESP.COD_ORGAO FROM DESPESA_PUBLICA WHERE O.COD_ORGAO = DESP.COD_ORGAO AND ANO_DESPESA = 2018)
GROUP BY O.COD_ORGAO
ORDER BY SUM(DESP.VALOR_DESPESA) DESC
"""

df = pd.read_sql_query(query, conn)
df

                                       NOME_ORGAO  DESPESAS_2018
0                            Ministério da Defesa      353376.70
1            Ministério do Desenvolvimento Social      278586.35
2   Ministério da Agricultura, Pecuária e Abastec       90836.51
3                          Ministério da Educação       64007.82
4                             Ministério da Saúde       50971.19
5                        Presidência da República           0.00
6   Ministério da Ciência, Tecnologia, Inovações            0.00
7                           Ministério da Fazenda           0.00
8       Ministério da Justiça e Segurança Pública           0.00
9              Ministério das Relações Exteriores           0.00
10  Ministério dos Transportes, Portos e Aviação            0.00
11                    Ministério do Meio Ambiente           0.00
12              Ministério da Integração Nacional           0.00
13                Ministério dos Direitos Humanos           0.00

4. Liste o mês e ano, modalidade, programa de governo e valor de todas as despesas do
órgão Ministério da Fazenda no primeiro semestre de 2018.

In [70]:
query = """
SELECT MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, NOME_PROGRAMA_GOVERNO, VALOR_DESPESA FROM DESPESA_PUBLICA, PROGRAMA_GOVERNO WHERE MES_DESPESA IN (1, 2, 3)
"""

df = pd.read_sql_query(query, conn)
df

      MES_DESPESA  ...  VALOR_DESPESA
0               3  ...            0.0
1               3  ...            0.0
2               3  ...            0.0
3               3  ...            0.0
4               3  ...            0.0
...           ...  ...            ...
8095            3  ...            0.0
8096            3  ...            0.0
8097            3  ...            0.0
8098            3  ...            0.0
8099            3  ...            0.0

[8100 rows x 5 columns]